<aside class="sidebar-menu">
    <nav>
        <mat-list>
            <mat-list-item>
                <a routerLink="/home" routerLinkActive="router-link-active">
                    <mat-icon aria-hidden="false" aria-label="home" fontIcon="home" matTooltip="Home" matTooltipPosition="right"></mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/order-picking" routerLinkActive="router-link-active">
                    <mat-icon aria-hidden="false" aria-label="list_alt_check" fontIcon="list_alt_check" matTooltip="Order Picking" matTooltipPosition="right"></mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/inventory-addressing" routerLinkActive="router-link-active">
                    <mat-icon aria-hidden="false" aria-label="location_city" fontIcon="location_city" matTooltip="Inventory Addressing" matTooltipPosition="right"></mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/product" routerLinkActive="router-link-active">
                    <mat-icon aria-hidden="false" aria-label="production_quantity_limits" fontIcon="production_quantity_limits" matTooltip="Product" matTooltipPosition="right"></mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/security" routerLinkActive="router-link-active">
                    <mat-icon aria-hidden="false" aria-label="policy" fontIcon="policy" matTooltip="Security" matTooltipPosition="right"></mat-icon>
                </a>
            </mat-list-item>
        </mat-list>
    </nav>
</aside>